{{>header}}

{{>navigation}}

{{>modal_loading}}

<div class="card mx-3">
 <div class="card-header">
    <h5>Ganti Password</h5>
 </div>
 <div class="card-body px-5">
  <div class="mb-3">
    <label for="passwordLama" class="col-form-label">Password lama</label>
    <input type="password" id="passwordLama" class="form-control" aria-describedby="passwordLama">
  </div>
  <div class="mb-3">
    <label for="passwordBaru" class="col-form-label">Password baru</label>
    <input type="password" id="passwordBaru" class="form-control" aria-describedy="passwordBaru">
  </div>
   <div class="mb-3">
     <label for="ulangiPassword" class="col-form-label">Ulangi password baru</label>
     <input type="password" id="ulangiPassword" class="form-control" aria-describedy="ulangiPassword">
   </div>
  <div class="mb-3">
    <span id="passwordHelpInline" class="form-text">
      Must be 8-20 characters long.
    </span>
  </div>
</div>
    <a href="#" class="btn btn-primary m-5">Ubah</a>
</div>

{{>jquery_bootstrap}}
</body>
</html>