{{>header}}
{{>navigation}}
{{>modal_loading}}
<h3 class="ms-3">UMKM</h3>
<div class="row row-cols-2 row-cols-md-3 g-2 m-2">
  <div class="col">
    <div class="card">
      <img src="https://splidejs.com/images/slides/general/01.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jasa</h5>
        <p class="card-text">Rp. 12.000</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
    <img src="https://splidejs.com/images/slides/general/02.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Makanan</h5>
        <p class="card-text">Rp. 15.500</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="https://splidejs.com/images/slides/general/03.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Minuman</h5>
        <p class="card-text">Rp. 5.000</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="https://splidejs.com/images/slides/general/04.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Barang</h5>
        <p class="card-text">Rp. 20.000</p>
      </div>
    </div>
  </div>
</div>

{{>jquery_bootstrap}}
</body>
</html>