<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <h1>Selamat datang {{nama}}</h1>
<!--      SURAT KETERANGAN-->
     <div class="list-group" id="list-tab" role="tablist">
    <li class="list-group-item">Ghoib</li>
    <li class="list-group-item">Belum Menikah</li>
    <li class="list-group-item">Nama Sama</li>
    <li class="list-group-item">Tinggal Sementara</li>
    <li class="list-group-item">Orangtua Wali</li>
    <li class="list-group-item">Bepergian</li>
    <li class="list-group-item">Tempat Usaha</li>
    <li class="list-group-item">Berpenghasilan</li>
    <li class="list-group-item">Janda/Duda</li>
    <li class="list-group-item">Izin Pelataran</li>
    <li class="list-group-item">Izin Keramaian</li>
    <li class="list-group-item">Rekomendasi</li>
    <li class="list-group-item">Kematian</li>
    <li class="list-group-item">Kelahiran</li>
    <li class="list-group-item">Memiliki Rumah</li>
    <li class="list-group-item">Pisah Ranjang</li>
    <li class="list-group-item">Tanah Wakaf</li>
    <li class="list-group-item">Tidak Memiliki PBB</li>
    <li class="list-group-item">Pengaktifan BPJS</li>
    <li class="list-group-item">Penerbitan PBB</li>
    <li class="list-group-item">Izin Orangtua</li>
    <li class="list-group-item">Kurang Mampu</li>
    </ul>
<!--      SURAT PENGANTAR -->
    <ul class="list-group">
    <li class="list-group-item">SKCK</li>
    <li class="list-group-item">Nikah</li>
    </ul>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>