<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Selamat datang {{nama}}</h1>
    <!--      SURAT KETERANGAN-->
<!--     <h3>SURAT KETERANGAN</h3> -->
    <div class="btn-group">
   <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Surat Keterangan
      </button>
      <ul class="dropdown-menu">
      <li><a
        class="dropdown-item active"
        id="dropdown-ghoib-dropdown"
        href="#dropdown-ghoib"
        aria-controls="dropdown-ghoib"
             >Ghoib</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-belum-menikah-dropdown"
        href="#dropdown-belum-menikah"
        aria-controls="dropdown-belum-menikah"
             >Belum Menikah</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-nama-sama-dropdown"
        href="#dropdown-nama-sama"
        aria-controls="dropdown-nama-sama"
             >Nama Sama</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-tinggal-sementara-dropdown"
        href="#dropdown-tinggal-sementara"
        aria-controls="dropdown-tinggal-sementara"
             >Tinggal Sementara</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-orangtua-wali-dropdown"
        href="#dropdown-orangtua-wali"
        aria-controls="dropdown-orangtua-wali"
             >Orangtua Wali</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-bepergian-dropdown"
        href="#dropdown-bepergian"
        aria-controls="dropdown-bepergian"
             >Bepergian</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-tempat-usaha-dropdown"
        href="#dropdown-tempat-usaha"
        aria-controls="dropdown-tempat-usaha"
             >Tempat Usaha</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-berpenghasilan-dropdown"
        href="#dropdown-berpenghasilan"
        aria-controls="dropdown-berpenghasilan"
             >Berpenghasilan</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-janda-duda-dropdown"
        href="#dropdown-janda-duda"
        aria-controls="dropdown-janda-duda"
             >Janda/Duda</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-izin-pelataran-dropdown"
        href="#dropdown-izin-pelataran"
        aria-controls="dropdown-izin-pelataran"
             >Izin Pelataran</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-izin-keramaian-dropdown"
        href="#dropdown-izin-keramaian"
        aria-controls="dropdown-izin-keramaian"
             >Izin Keramaian</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-rekomendasi-dropdown"
        href="#dropdown-rekomendasi"
        aria-controls="dropdown-rekomendasi"
             >Rekomendasi</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-kematian-dropdown"
        href="#dropdown-kematian"
        aria-controls="dropdown-kematian"
             >Kematian</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-kelahiran-dropdown"
        href="#dropdown-kelahiran"
        aria-controls="dropdown-kelahiran"
             >Kelahiran</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-memiliki-rumah-dropdown"
        href="#dropdown-memiliki-rumah"
        aria-controls="dropdown-memiliki-rumah"
             >Memiliki Rumah</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-pisah-ranjang-dropdown"
        href="#dropdown-pisah-ranjang"
        aria-controls="dropdown-pisah-ranjang"
             >Pisah Ranjang</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-tanah-wakaf-dropdown"
        href="#dropdown-tanah-wakaf"
        aria-controls="dropdown-tanah-wakaf"
             >Tanah Wakaf</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-tidak-memiliki-pbb-dropdown"
        href="#dropdown-tidak-memiliki-pbb"
        aria-controls="dropdown-tidak-memiliki-pbb"
             >Tidak Memiliki PBB</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-pengaktifan-bpjs-dropdown"
        href="#dropdown-pengaktifan-bpjs"
        aria-controls="dropdown-pengaktifan-bpjs"
             >Pengaktifan BPJS</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-penerbitan-pbb-dropdown"
        href="#dropdown-penerbitan-pbb"
        aria-controls="dropdown-penerbitan-pbb"
             >Penerbitan PBB</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-izin-orangtua-dropdown"
        href="#dropdown-izin-orangtua"
        aria-controls="dropdown-izin-orangtua"
             >Izin Orangtua</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-kurang-mampu-dropdown"
        href="#dropdown-kurang-mampu"
        aria-controls="dropdown-kurang-mampu"
             >Kurang Mampu</a></li>
     </ul>
    </div>
    
    
<!--     <h3>SURAT PENGANTAR</h3> -->
    <!--      SURAT PENGANTAR -->
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Surat Pengantar
      </button>
      <ul class="dropdown-menu">
      <li><a
        class="dropdown-item"
        id="dropdown-skck-dropdown"
        href="#dropdown-skck"
        aria-controls="dropdown-skck"
             >SKCK</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-nikah-dropdown"
        href="#dropdown-nikah"
        aria-controls="dropdown-nikah"
             >Nikah</a></li>
      <li><a
        class="dropdown-item"
        id="dropdown-ktp-kk-dropdown"
        href="#dropdown-ktp-kk"
        aria-controls="dropdown-ktp-kk"
             >KTP/KK</a></li>
        </ul>
    </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>