{{>header}}

    {{#if pesan}}
      {{pesan}}
    {{/if}}
    
    {{>modal_loading}}
    
    <div class="container-fluid">
      <div class="text-center my-5">
        <p class="h3" style="margin:auto">Login</p>
      </div>
      <form
        class="rounded-1 bg-primary text-white p-4 mx-auto"
        style="width:300px"
        method="post"
        action="/dashbord"
      >
        <div class="mb-3">
          <label for="rwAdmin" class="form-label">RW</label>
          <select class="form-select" id="rw_admin" name="rw_admin">
            <option selected>Pilih RW</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="usernameAdmin" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="usernameAdmin"
            name="username_admin"
          />
        </div>
        <div class="mb-3">
          <label for="passwordAdmin" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="passwordAdmin"
            name="password_admin"
          />
        </div>
        <div class="text-end">
          <button type="submit" class="btn bg-white" onclick="modalLoading()">Submit</button>
        </div>
      </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script>
      
      function modalLoading(){
        const modalLoading = new bootstrap.Modal('#modalLoading')
        modalLoading.show()
      }
    </script>
  </body>
</html>