<!-- MODAL LOADING -->
<div class="modal" id="modalLoading" tabindex="-1" aria-labelledby="modalLoadingLabel" aria-hidden="true">
  <div class="modal-dialog h-100">
      <div class="modal-content bg-transparent border-0 h-100">
         <div class="row align-items-center h-100">
            <div class="col">
              <div class="d-flex justify-content-center">
                  <div class="spinner-border text-light" role="status">
                      <span class="visually-hidden">Loading...</span>
                  </div>
              </div>
            </div>
          </div>
      </div>
   </div>
</div>