<!--  NAVIGATION -->    
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="rounded-circle">
    <img src="https://akcdn.detik.net.id/visual/2023/07/19/v-bts-jadi-global-ambassador-cartier-1_169.jpeg" class="img-thumbnail" alt="jongkok">
    </div>
    <a class="navbar-brand" href="#">SIMPEDAKU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">SIMPEDAKU</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard">Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/riwayat">Riwayat</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/akun">Akun</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/">Keluar</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>