<!--  NAVIGATION -->    
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
        <div class="rounded-circle logo-akun"></div>
        <a class="navbar-brand px-3 border-end" href="#">SIMPEDAKU</a> 
        <a class="text-decoration-none text-light" href="/belanja">BELANJA</a>
    </div>     

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">SIMPEDAKU</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard">Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/riwayat">Riwayat</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/akun">Akun</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/">Keluar</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<div style="max-width:700px" class="mx-auto">
<section  class="splide mb-3" aria-label="jualan warga" style="height:35%">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="https://splidejs.com/images/slides/general/01.jpg" alt="">
      </li>
      <li class="splide__slide">
        <a href="/belanja/rasbun">
        <img src="https://splidejs.com/images/slides/general/02.jpg" alt="">
        </a>
      </li>
      <li class="splide__slide">
        <img src="https://splidejs.com/images/slides/general/03.jpg" alt="">
      </li>
      <li class="splide__slide">
        <img src="https://splidejs.com/images/slides/general/04.jpg" alt="">
      </li>
    </ul>
  </div>
</section>

  
<section id="thumbnail-carousel" class="splide" style="height:10%">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="https://splidejs.com/images/slides/general/01.jpg" alt="">
      </li>
      <li class="splide__slide">
        <img src="https://splidejs.com/images/slides/general/02.jpg" alt="">
      </li>
      <li class="splide__slide">
        <img src="https://splidejs.com/images/slides/general/03.jpg" alt="">
      </li>
      <li class="splide__slide">
        <img src="https://splidejs.com/images/slides/general/04.jpg" alt="">
      </li>
    </ul>
  </div>
</section>
</div>
<div style="max-width:700px" class="mx-auto">
  
